.container{
  background-color: #167F96;
  padding: 10px 5px;
}

.contentContainer{
  max-width: 1900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.title{
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}