.container{
  width: 16px;
  height: 16px;
}

.arrow{
  width: 16px;
  height: 16px;
  rotate: 90deg;
}

.arrowActive{
  width: 16px;
  height: 16px;
  rotate: 0deg;
}

.arrowActive:hover, .arrow:hover{
  transition: 0.3s;
}